### Data Survey

In [50]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\PC\Desktop\Estudio\Analisis de Datos\Proyectos\Festival Purchase Behavior Analysis\Datasets\festival_dataset_dirty.csv")

# This part of the code provides an overview of the dataset, spaced, so each function is easier to read.

print(df.shape)
print("\n")
print(df.isnull().sum())
print("\n")
print(df.duplicated().sum())
print("\n")
print(df.nunique())
print("\n")

# I'm selecting columns of type 'object' (text) or 'category' to analyze unique values in those columns.
text_columns = df.select_dtypes(include=['object', 'category']).columns

# Displaying unique values for each text column
# With it, we can see the unique values in each text column, which helps us understand the dataset better
# And detect typos or inconsistencies in the data.
for col in text_columns:
    print(f"\nUnique values of '{col}':")
    print(df[col].unique())

(14000, 25)


ticket_id                0
ticket_type            280
ticket_price             0
purchase_date            0
attendance_date          0
entry_time               0
was_present              0
attendee_id              0
age                      0
gender                 140
origin_city              0
transport_used           0
group_size               0
food_expense             0
drink_expense            0
merch_expense            0
payment_method           0
favourite_genre          0
stages_visited           0
top_artist_seen          0
hours_spent              0
satisfaction_score       0
security_rating          0
cleanliness_rating       0
recommend_to_friend      0
dtype: int64


0


ticket_id              9319
ticket_type               3
ticket_price              3
purchase_date            89
attendance_date           3
entry_time              540
was_present               1
attendee_id            9319
age                      42
gender                    3
origin_city               5
transport_used            5
group_size                5
food_expense           4703
drink_expense          5414
merch_expense          7497
payment_method            4
favourite_genre           7
stages_visited            4
top_artist_seen           5
hours_spent             101
satisfaction_score        4
security_rating           4
cleanliness_rating        4
recommend_to_friend       2
dtype: int64



Unique values of 'ticket_id':
['TCK102187' 'TCK105186' 'TCK107469' ... 'TCK103587' 'TCK102589'
 'TCK102375']

Unique values of 'ticket_type':
['3-day Pass' nan '1-day Pass' 'VIP']

Unique values of 'purchase_date':
['2025-03-07' '2025-02-06' '2025-03-08' '2025-04-30' '2025-02-18'
 '2025-02-26' '2025-04-13' '2025-03-12' '2025-02-28' '2025-02-13'
 '2025-03-15' '2025-04-05' '2025-03-01' '2025-04-03' '2025-02-04'
 '2025-04-14' '2025-02-02' '2025-02-19' '2025-04-27' '2025-03-03'
 '2025-03-29' '2025-02-24' '2025-02-17' '2025-04-23' '2025-02-21'
 '2025-02-27' '2025-03-28' '2025-04-06' '2025-03-10' '2025-02-11'
 '2025-04-01' '2025-02-01' '2025-02-12' '2025-04-24' '2025-04-12'
 '2025-04-17' '2025-04-02' '2025-03-26' '2025-03-13' '2025-03-20'
 '2025-03-17' '2025-03-18' '2025-02-15' '2025-04-08' '2025-03-30'
 '2025-03-06' '2025-02-23' '2025-03-19' '2025-02-09' '2025-03-22'
 '2025-04-28' '2025-04-26' '2025-03-27' '2025-04-18' '2025-02-03'
 '2025-04-21' '2025-03-24' '2025-02-25' '2025-04-19' '2025-03-02'
 '2025-02-10' '2025-04-29' '2025-04-20' '2025-03-05' '2025-03-14'
 '2025-04-07' '2025-04-25' '2025-02-22' '2025-02-14' '2025-03-04'
 '2025-03-31' '2025-03-23' '2025-03-16' '2025-04-04' '2025-03-21'
 '2025-04-09' '2025-02-08' '2025-03-09' '2025-04-22' '2025-04-10'
 '2025-04-16' '2025-02-05' '2025-04-15' '2025-02-07' '2025-02-20'
 '2025-03-25' '2025-02-16' '2025-04-11' '2025-03-11']

Unique values of 'attendance_date':
['2025-05-02' '2025-05-03' '2025-05-01']

Unique values of 'entry_time':
['19:22:00' '15:59:00' '16:32:00' '22:19:00' '19:35:00' '21:51:00'
 '22:24:00' '19:48:00' '21:27:00' '17:54:00' '15:15:00' '14:29:00'
 '16:31:00' '22:00:00' '17:24:00' '22:08:00' '15:05:00' '20:22:00'
 '19:09:00' '17:55:00' '15:10:00' '22:55:00' '16:00:00' '17:13:00'
 '19:36:00' '20:03:00' '15:40:00' '19:02:00' '18:55:00' '20:20:00'
 '18:35:00' '21:25:00' '16:47:00' '21:36:00' '22:52:00' '16:54:00'
 '22:48:00' '15:33:00' '21:55:00' '15:14:00' '16:19:00' '15:37:00'
 '17:38:00' '17:15:00' '18:12:00' '18:42:00' '20:26:00' '17:00:00'
 '20:35:00' '19:57:00' '14:08:00' '22:03:00' '18:18:00' '14:23:00'
 '20:18:00' '20:51:00' '17:19:00' '17:46:00' '17:45:00' '20:19:00'
 '16:48:00' '17:21:00' '16:25:00' '19:47:00' '16:37:00' '21:16:00'
 '19:40:00' '20:44:00' '18:14:00' '14:01:00' '20:13:00' '14:19:00'
 '16:58:00' '18:02:00' '22:01:00' '18:39:00' '16:50:00' '18:00:00'
 '18:59:00' '22:49:00' '14:07:00' '21:44:00' '18:07:00' '19:31:00'
 '17:59:00' '19:21:00' '20:40:00' '17:06:00' '21:09:00' '18:52:00'
 '19:39:00' '20:50:00' '21:04:00' '15:09:00' '17:53:00' '19:46:00'
 '17:05:00' '22:31:00' '22:15:00' '20:06:00' '14:51:00' '14:40:00'
 '15:34:00' '20:36:00' '20:00:00' '20:04:00' '21:10:00' '14:46:00'
 '20:37:00' '21:56:00' '18:09:00' '22:46:00' '14:33:00' '15:55:00'
 '15:08:00' '16:15:00' '14:44:00' '19:28:00' '14:21:00' '14:37:00'
 '15:26:00' '20:41:00' '20:58:00' '19:33:00' '20:02:00' '17:01:00'
 '17:08:00' '17:20:00' '16:09:00' '17:31:00' '21:38:00' '16:43:00'
 '17:11:00' '15:21:00' '16:57:00' '20:55:00' '19:08:00' '14:45:00'
 '15:54:00' '16:04:00' '21:50:00' '19:12:00' '18:29:00' '17:33:00'
 '18:23:00' '21:28:00' '21:18:00' '19:51:00' '16:36:00' '15:57:00'
 '22:20:00' '15:11:00' '22:12:00' '14:12:00' '20:45:00' '20:33:00'
 '16:21:00' '14:56:00' '21:48:00' '18:37:00' '16:05:00' '22:32:00'
 '21:52:00' '14:31:00' '14:54:00' '16:53:00' '21:01:00' '14:42:00'
 '14:06:00' '17:39:00' '14:52:00' '15:49:00' '15:20:00' '21:37:00'
 '22:38:00' '22:09:00' '18:13:00' '19:03:00' '17:58:00' '18:41:00'
 '22:37:00' '14:43:00' '15:35:00' '19:11:00' '20:21:00' '20:47:00'
 '14:20:00' '21:54:00' '21:32:00' '21:02:00' '20:29:00' '14:15:00'
 '19:14:00' '21:14:00' '22:25:00' '16:26:00' '18:49:00' '21:43:00'
 '16:35:00' '22:57:00' '16:12:00' '15:31:00' '16:18:00' '22:58:00'
 '16:39:00' '18:44:00' '20:05:00' '15:51:00' '18:01:00' '14:25:00'
 '20:59:00' '22:42:00' '14:55:00' '19:43:00' '15:27:00' '21:45:00'
 '21:58:00' '21:03:00' '15:42:00' '18:36:00' '20:49:00' '15:44:00'
 '18:58:00' '14:50:00' '15:56:00' '19:17:00' '21:11:00' '18:28:00'
 '15:23:00' '20:43:00' '17:17:00' '20:23:00' '19:38:00' '15:47:00'
 '21:35:00' '22:28:00' '19:53:00' '22:02:00' '15:46:00' '16:41:00'
 '22:13:00' '22:33:00' '22:36:00' '15:19:00' '18:48:00' '14:26:00'
 '14:35:00' '20:10:00' '15:22:00' '16:03:00' '19:19:00' '18:53:00'
 '19:07:00' '21:24:00' '22:10:00' '20:17:00' '15:38:00' '20:07:00'
 '14:59:00' '16:14:00' '16:24:00' '21:17:00' '19:20:00' '15:00:00'
 '17:07:00' '17:26:00' '19:32:00' '18:03:00' '18:20:00' '14:48:00'
 '16:22:00' '21:19:00' '16:46:00' '14:38:00' '17:49:00' '22:47:00'
 '18:46:00' '18:19:00' '22:45:00' '15:50:00' '18:31:00' '19:59:00'
 '20:54:00' '19:41:00' '15:04:00' '14:05:00' '15:13:00' '19:06:00'
 '19:50:00' '18:24:00' '16:02:00' '22:53:00' '21:00:00' '15:28:00'
 '14:27:00' '17:42:00' '22:05:00' '19:18:00' '21:08:00' '21:12:00'
 '16:17:00' '20:09:00' '17:41:00' '17:52:00' '22:35:00' '22:59:00'
 '21:39:00' '21:21:00' '14:28:00' '17:40:00' '20:15:00' '16:52:00'
 '20:48:00' '16:30:00' '15:01:00' '21:31:00' '19:54:00' '18:50:00'
 '16:44:00' '18:25:00' '16:16:00' '16:13:00' '21:30:00' '18:04:00'
 '21:07:00' '18:33:00' '17:56:00' '19:24:00' '18:43:00' '17:48:00'
 '15:58:00' '19:05:00' '17:14:00' '17:12:00' '19:55:00' '17:25:00'
 '19:27:00' '20:39:00' '16:51:00' '20:16:00' '22:43:00' '20:34:00'
 '19:56:00' '14:30:00' '19:52:00' '17:36:00' '16:10:00' '17:04:00'
 '21:06:00' '16:06:00' '19:42:00' '19:44:00' '16:28:00' '16:07:00'
 '19:04:00' '19:26:00' '21:13:00' '21:15:00' '20:30:00' '20:27:00'
 '17:23:00' '14:36:00' '20:11:00' '18:22:00' '22:51:00' '22:06:00'
 '22:23:00' '14:18:00' '17:34:00' '21:23:00' '16:27:00' '20:57:00'
 '21:33:00' '19:25:00' '21:46:00' '17:30:00' '21:59:00' '22:44:00'
 '14:04:00' '20:31:00' '18:54:00' '14:02:00' '16:23:00' '15:16:00'
 '20:25:00' '17:37:00' '21:29:00' '15:52:00' '21:22:00' '15:03:00'
 '21:26:00' '22:26:00' '15:39:00' '21:20:00' '22:50:00' '17:02:00'
 '21:34:00' '22:54:00' '16:01:00' '20:38:00' '14:57:00' '16:08:00'
 '16:45:00' '18:27:00' '19:49:00' '22:29:00' '17:16:00' '18:10:00'
 '21:49:00' '21:42:00' '17:35:00' '15:30:00' '22:17:00' '14:24:00'
 '21:40:00' '18:32:00' '20:42:00' '18:11:00' '15:53:00' '22:14:00'
 '22:11:00' '17:47:00' '18:08:00' '22:27:00' '14:10:00' '21:57:00'
 '20:14:00' '15:24:00' '20:46:00' '14:13:00' '14:32:00' '15:43:00'
 '16:34:00' '19:00:00' '16:11:00' '18:06:00' '14:39:00' '19:45:00'
 '20:24:00' '16:59:00' '19:29:00' '17:57:00' '15:17:00' '16:29:00'
 '14:09:00' '21:47:00' '18:30:00' '17:03:00' '20:53:00' '20:28:00'
 '18:51:00' '14:22:00' '16:42:00' '22:56:00' '22:41:00' '15:25:00'
 '19:10:00' '19:23:00' '22:39:00' '18:45:00' '22:22:00' '20:32:00'
 '15:18:00' '17:10:00' '14:17:00' '14:58:00' '19:30:00' '15:06:00'
 '20:56:00' '15:07:00' '22:34:00' '18:40:00' '14:14:00' '14:34:00'
 '21:53:00' '14:16:00' '15:36:00' '15:41:00' '18:15:00' '22:30:00'
 '17:28:00' '18:21:00' '21:41:00' '14:41:00' '14:03:00' '19:58:00'
 '19:15:00' '22:40:00' '18:16:00' '14:11:00' '16:40:00' '22:16:00'
 '18:38:00' '18:57:00' '18:05:00' '17:29:00' '19:37:00' '14:00:00'
 '14:49:00' '22:04:00' '17:27:00' '21:05:00' '20:01:00' '15:48:00'
 '17:18:00' '19:34:00' '17:43:00' '19:13:00' '17:51:00' '20:52:00'
 '18:56:00' '15:02:00' '16:33:00' '15:12:00' '14:53:00' '17:09:00'
 '22:18:00' '17:50:00' '15:45:00' '22:21:00' '18:34:00' '20:12:00'
 '16:56:00' '17:22:00' '16:38:00' '19:16:00' '22:07:00' '17:44:00'
 '19:01:00' '16:49:00' '18:17:00' '17:32:00' '15:32:00' '14:47:00'
 '18:26:00' '16:55:00' '20:08:00' '16:20:00' '15:29:00' '18:47:00']

Unique values of 'attendee_id':
['ATD202187' 'ATD205186' 'ATD207469' ... 'ATD203587' 'ATD202589'
 'ATD202375']

Unique values of 'gender':
['Male' 'Female' 'Other' nan]

Unique values of 'origin_city':
['Malaga' 'Barcelona' 'Madrid' 'Sevilla' 'Valencia']

Unique values of 'transport_used':
['Train' 'Car' 'Plane' 'Other' 'Bus']

Unique values of 'payment_method':
['Cash' 'Festival App' 'Card' 'cash ']

Unique values of 'favourite_genre':
['Pop' 'Rock' 'Hip-Hop' 'Reggaeton' 'Electronic' 'hiphop' 'Regueton']

Unique values of 'top_artist_seen':
['Artist D' 'Artist A' 'Artist E' 'Artist C' 'Artist B']

Unique values of 'recommend_to_friend':
['Yes' 'nO']

With this first glimpse we recognise:

1. Columns "gender" and "ticket_type" have null values.
2. No duplicated rows
3. ticket_id (which will be the main ID) is repeated along the dataset.
4. Typos in columns "payment_method", "favourite_genre", "recommend_to_friend"

### Null values management

In [51]:
# --- Gender column ---
# Null values management

# Count the number of unique values in each column
# Used to understand the dataset better
print(df['gender'].value_counts(dropna=False))
print("\n")

# gender_dist will store the normalized distribution
gender_dist = df["gender"].value_counts(normalize=True)

# mask will be used to locate the null values in the dataset
mask = df["gender"].isnull()

# Adds all the null
n_nulls = mask.sum()

# Fill the null values with random choices based on the distribution
# This will ensure that the null values are filled in a way that reflects the original distribution
df.loc[mask, "gender"] = np.random.choice(
    gender_dist.index,
    size=n_nulls,
    p=gender_dist.values
)

# --- Ticket Type column ---
# Same steps to clean "ticket_type" column as we followed for "gender" column
print(df["ticket_type"].value_counts(dropna=False))
print("---------------------------------")

type_dist = df["ticket_type"].value_counts(normalize=True)
mask = df["ticket_type"].isnull()
n_nulls = mask.sum()
df.loc[mask, "ticket_type"] = np.random.choice(
    type_dist.index,
    size = n_nulls,
    p=type_dist.values
)


print(df["gender"].value_counts(dropna=False))
print("\n")
print(df["ticket_type"].value_counts(dropna=False))

gender
Female    4709
Other     4609
Male      4542
NaN        140
Name: count, dtype: int64


ticket_type
3-day Pass    8158
1-day Pass    2782
VIP           2780
NaN            280
Name: count, dtype: int64
---------------------------------
gender
Female    4757
Other     4656
Male      4587
Name: count, dtype: int64


ticket_type
3-day Pass    8334
1-day Pass    2842
VIP           2824
Name: count, dtype: int64

### Typos cleaning

In [52]:
# --- Typos cleaning ---

df["payment_method"] = df["payment_method"].replace({"cash ": "Cash"})
df["favourite_genre"] = df["favourite_genre"].replace("hiphop", "Hip-Hop")
df["favourite_genre"] = df["favourite_genre"].replace("Regueton", "Reggaeton")
df["recommend_to_friend"] = df["recommend_to_friend"].replace({"nO": "No"})

### Trimming values with spaces

In [53]:
# Strips leading and trailing whitespace from all string columns
for col in df.columns:
    if df[col].dtype == 'object':
      # It will convert to string, then strip whitespace
        df[col] = df[col].str.strip()
      # It will replace multiple spaces with a single space
        df[col] = df[col].str.replace(r'\s+', ' ', regex=True)

### Removing non-essential fields

In [54]:
df.drop(["ticket_id",
         "attendee_id",
         "entry_time", 
         "purchase_date", 
         "was_present", 
         "transport_used",
         "top_artist_seen", 
         "origin_city"], axis=1)

,ticket_type,ticket_price,attendance_date,age,gender,group_size,food_expense,drink_expense,merch_expense,payment_method,favourite_genre,stages_visited,hours_spent,satisfaction_score,security_rating,cleanliness_rating,recommend_to_friend
0,3-day Pass,200,2025-05-02,20,Male,2,15.38,50.74,78.35,Cash,Pop,3,8.6,6.5,8.0,9.5,Yes
1,3-day Pass,150,2025-05-03,33,Female,3,27.45,57.04,48.70,Festival App,Pop,1,7.3,8.0,6.5,6.5,Yes
2,VIP,200,2025-05-03,35,Male,5,12.38,45.05,56.57,Festival App,Rock,1,5.6,9.5,5.0,8.0,Yes
3,3-day Pass,200,2025-05-01,50,Other,3,47.83,53.21,10.78,Card,Hip-Hop,1,5.9,8.0,8.0,6.5,No
4,3-day Pass,80,2025-05-01,27,Female,5,37.65,18.95,11.05,Festival App,Hip-Hop,4,8.0,8.0,8.0,9.5,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,1-day Pass,80,2025-05-02,28,Male,4,8.73,34.53,61.05,Card,Pop,1,8.7,8.0,9.5,5.0,Yes
13996,3-day Pass,200,2025-05-01,47,Male,5,6.45,34.89,94.09,Card,Pop,3,3.6,6.5,6.5,8.0,Yes
13997,1-day Pass,150,2025-05-01,28,Male,2,38.53,16.60,64.87,Card,Rock,2,11.8,9.5,9.5,5.0,No
13998,VIP,200,2025-05-02,28,Male,1,27.26,34.59,91.61,Festival App,Reggaeton,2,5.1,8.0,9.5,9.5,Yes
13999,3-day Pass,80,2025-05-01,19,Female,5,20.55,15.24,38.31,Card,Electronic,2,3.7,8.0,9.5,6.5,Yes

### Type convertion

In [55]:
# With it, we ensure that the data types are appropriate for analysis and optimize memory usage
df = df.astype({
    'ticket_type': 'category',
    'ticket_price': 'int',
    'age': 'int',
    'gender': 'category',
    'group_size': 'int',
    'food_expense': 'float',
    'drink_expense': 'float',
    'merch_expense': 'float',
    'payment_method': 'category',
    'favourite_genre': 'category',
    'stages_visited': 'int',
    'satisfaction_score': 'int',
    'security_rating': 'int',
    'cleanliness_rating': 'int',
    'recommend_to_friend': 'bool'
})

# Date conversion
df['attendance_date'] = pd.to_datetime(df['attendance_date'])

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14000 entries, 0 to 13999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ticket_id            14000 non-null  object
 1   ticket_type          14000 non-null  category
 2   ticket_price         14000 non-null  int64
 3   purchase_date        14000 non-null  object
 4   attendance_date      14000 non-null  datetime64[ns]
 5   entry_time           14000 non-null  object
 6   was_present          14000 non-null  bool
 7   attendee_id          14000 non-null  object
 8   age                  14000 non-null  int64
 9   gender               14000 non-null  category
 10  origin_city          14000 non-null  object
 11  transport_used       14000 non-null  object
 12  group_size           14000 non-null  int64
 13  food_expense         14000 non-null  float64
 14  drink_expense        14000 non-null  float64
 15  merch_expense        14000 non-null  float64
 16  payment_method       14000 non-null  category
 17  favourite_genre      14000 non-null  category
 18  stages_visited       14000 non-null  int64
 19  top_artist_seen      14000 non-null  object
 20  hours_spent          14000 non-null  float64
 21  satisfaction_score   14000 non-null  int64
 22  security_rating      14000 non-null  int64
 23  cleanliness_rating   14000 non-null  int64
 24  recommend_to_friend  14000 non-null  bool
dtypes: bool(2), category(4), datetime64[ns](1), float64(4), int64(7), object(7)
memory usage: 2.1+ MB